<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Feature Name</key>
	<string>Envelope Filler</string>
	<key>Content</key>
	<dict>
		<key>DefaultEnvelopePayTypes</key>
		<array>
			<string>Cash</string>
			<string>Credit</string>
		</array>
		<key>DefaultEnvelopes</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Holidays</string>
				<key>StartingBalance</key>
				<string>200.00</string>
				<key>Category</key>
				<string>Giving</string>
				<key>Paytype</key>
				<string>Cash</string>
				<key>DefaultOrder</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Birthdays</string>
				<key>StartingBalance</key>
				<string>250.00</string>
				<key>Category</key>
				<string>Giving</string>
				<key>Paytype</key>
				<string>Cash</string>
				<key>DefaultOrder</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Tithes</string>
				<key>StartingBalance</key>
				<string>175.00</string>
				<key>Category</key>
				<string>Giving</string>
				<key>Paytype</key>
				<string>Cash</string>
				<key>DefaultOrder</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>New Furniture</string>
				<key>StartingBalance</key>
				<string>1999.99</string>
				<key>Category</key>
				<string>Goals</string>
				<key>Paytype</key>
				<string>Credit</string>
				<key>DefaultOrder</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Vacations</string>
				<key>StartingBalance</key>
				<string>1500.00</string>
				<key>Category</key>
				<string>Goals</string>
				<key>Paytype</key>
				<string>Credit</string>
				<key>DefaultOrder</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Groceries</string>
				<key>Category</key>
				<string>Living</string>
				<key>StartingBalance</key>
				<string>75.00</string>
				<key>Paytype</key>
				<string>Credit</string>
				<key>DefaultOrder</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Entertainment</string>
				<key>Category</key>
				<string>Living</string>
				<key>StartingBalance</key>
				<string>150.00</string>
				<key>Paytype</key>
				<string>Cash</string>
				<key>DefaultOrder</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Clothes</string>
				<key>Category</key>
				<string>Living</string>
				<key>StartingBalance</key>
				<string>25.00</string>
				<key>Paytype</key>
				<string>Cash</string>
				<key>DefaultOrder</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Dining</string>
				<key>Category</key>
				<string>Living</string>
				<key>StartingBalance</key>
				<string>65.00</string>
				<key>Paytype</key>
				<string>Cash</string>
				<key>DefaultOrder</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Insurance</string>
				<key>Category</key>
				<string>Housing</string>
				<key>StartingBalance</key>
				<string>320.00</string>
				<key>Paytype</key>
				<string>Credit</string>
				<key>DefaultOrder</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Mortgage</string>
				<key>Category</key>
				<string>Housing</string>
				<key>StartingBalance</key>
				<string>1700.00</string>
				<key>Paytype</key>
				<string>Credit</string>
				<key>DefaultOrder</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Rent</string>
				<key>Category</key>
				<string>Housing</string>
				<key>StartingBalance</key>
				<string>235.00</string>
				<key>Paytype</key>
				<string>Credit</string>
				<key>DefaultOrder</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Internet</string>
				<key>Category</key>
				<string>Utilities</string>
				<key>StartingBalance</key>
				<string>175.00</string>
				<key>Paytype</key>
				<string>Cash</string>
				<key>DefaultOrder</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Cell Phone</string>
				<key>Category</key>
				<string>Utilities</string>
				<key>StartingBalance</key>
				<string>70.00</string>
				<key>Paytype</key>
				<string>Cash</string>
				<key>DefaultOrder</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Natural Gas</string>
				<key>Category</key>
				<string>Utilities</string>
				<key>StartingBalance</key>
				<string>25.00</string>
				<key>Paytype</key>
				<string>Cash</string>
				<key>DefaultOrder</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Electricity</string>
				<key>Category</key>
				<string>Utilities</string>
				<key>StartingBalance</key>
				<string>50.00</string>
				<key>Paytype</key>
				<string>Credit</string>
				<key>DefaultOrder</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Water</string>
				<key>Category</key>
				<string>Utilities</string>
				<key>StartingBalance</key>
				<string>35.00</string>
				<key>Paytype</key>
				<string>Credit</string>
				<key>DefaultOrder</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Repairs/Maintenance</string>
				<key>Category</key>
				<string>Transportation</string>
				<key>StartingBalance</key>
				<string>75.00</string>
				<key>Paytype</key>
				<string>Credit</string>
				<key>DefaultOrder</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Tolls</string>
				<key>Category</key>
				<string>Transportation</string>
				<key>StartingBalance</key>
				<string>15.00</string>
				<key>Paytype</key>
				<string>Cash</string>
				<key>DefaultOrder</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Auto Insurance</string>
				<key>Category</key>
				<string>Transportation</string>
				<key>StartingBalance</key>
				<string>75.00</string>
				<key>Paytype</key>
				<string>Cash</string>
				<key>DefaultOrder</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Gas</string>
				<key>Category</key>
				<string>Transportation</string>
				<key>StartingBalance</key>
				<string>75.00</string>
				<key>Paytype</key>
				<string>Cash</string>
				<key>DefaultOrder</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Mutual Funds</string>
				<key>Category</key>
				<string>Investing</string>
				<key>StartingBalance</key>
				<string>75.00</string>
				<key>Paytype</key>
				<string>Credit</string>
				<key>DefaultOrder</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Personal Loans</string>
				<key>Category</key>
				<string>Debt</string>
				<key>StartingBalance</key>
				<string>205.00</string>
				<key>Paytype</key>
				<string>Credit</string>
				<key>DefaultOrder</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>DefaultEnvelopeCategories</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Giving</string>
				<key>BackgroundColor</key>
				<string>#FFFFFA8F</string>
				<key>AccentColor</key>
				<string>#FFD4D075</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Goals</string>
				<key>BackgroundColor</key>
				<string>#FF9EE29E</string>
				<key>AccentColor</key>
				<string>#FF88C388</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Living</string>
				<key>BackgroundColor</key>
				<string>#FFC29BDF</string>
				<key>AccentColor</key>
				<string>#FF9B7CB2</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Housing</string>
				<key>BackgroundColor</key>
				<string>#FFEE7154</string>
				<key>AccentColor</key>
				<string>#FFBC543C</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Utilities</string>
				<key>BackgroundColor</key>
				<string>#FF799FFF</string>
				<key>AccentColor</key>
				<string>#FF5979C8</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Transportation</string>
				<key>BackgroundColor</key>
				<string>#FFFDC06D</string>
				<key>AccentColor</key>
				<string>#FFDFC961</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Investing</string>
				<key>BackgroundColor</key>
				<string>#FFB3E9FF</string>
				<key>AccentColor</key>
				<string>#FF92C5D9</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Debt</string>
				<key>BackgroundColor</key>
				<string>#FF333333</string>
				<key>AccentColor</key>
				<string>#FFB4B4B4</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
