<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.myob.budgetLocal</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>M.Y.O.B.U. Features</key>
	<array>
		<dict>
			<key>iconImage</key>
			<string>WITHDRAWER_ICON</string>
			<key>plist</key>
			<string>WithdrawerConfig</string>
			<key>title</key>
			<string>Withdrawer</string>
			<key>viewController</key>
			<string>WithdrawerViewController</string>
		</dict>
		<dict>
			<key>iconImage</key>
			<string>ENVELOPE-FILLER_LOGO</string>
			<key>plist</key>
			<string>EnvelopeFillerConfig</string>
			<key>title</key>
			<string>Envelope Filler</string>
			<key>viewController</key>
			<string>EnvelopeFillerViewController</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>HelveticaNeueLTStd-ThCn.otf</string>
		<string>HelveticaNeueLTStd-MdCnO.otf</string>
		<string>Lato-Bol.otf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
